<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/images/css/register.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="first-line">
                <img class="logo-header" src="/images/logo-mercado-liebre.svg" alt="" />
            
                <div class="form" action="#" method="get">
                    <input class="input" type="text" readonly value = "Buscar productos, marcas y más" />
                    <div class="submit"><i class="fa-solid fa-magnifying-glass"></i></div>
                </div>
           </div>
            <h3 class="title-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav>
            <div class="navigation">
                <ul class="general-info">
                    <li>Ofertas</li>
                    <li>Tiendas oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul class="user-info">
                    <li><a href="/register.html" class="card">Creá cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login.html" class="login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <section>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <section class="form-container">
        <form action="/views/register.html" method="post">
            <label for="name">Nombre y apellido:</label>
            <input class="input-form" type="text" name="name" id="name" placeholder="Nombre y apellido">
  
            <label for="user">Nombre de usuario:</label>
            <input class="input-form" type="text" name="user" id="user" placeholder="Nombre de usuario">
            <label for="date">Fecha de nacimiento:</label>
            <input class="input-form" type="date" name="date" id="date">
   
            <label for="adress">Domicilio</label>
            <input class="input-form" type="text" name="adress" id="adress" placeholder="Dirección">
            <label for="profile">Perfil de usuario</label>
            <br>
            <input type="radio" name="profile" value="Comprador">Comprador
            <input type="radio" name="profile" value="Vendedor">Vendedor
            <section class="interests">
            <label for="interests">Categorías de interés</label>
            <br>
            <input type="checkbox" name="interests" value="Electro">Electro
            <input type="checkbox" name="interests" value="Moda">Moda
            <input type="checkbox" name="interests" value="Hogar">Hogar
            <input type="checkbox" name="interests" value="Juguetería">Juguetería
            <input type="checkbox" name="interests" value="Vida sana">Vida sana
            </section>
            <label for="user-photo">Foto de usuario</label>
            <input class="input-form" type="file" name="user-photo" accept=".jpg, .png">
            <label for="password">Contraseña</label>
            <input class="input-form" type="password" name="password" id="password">
            <label for="check-password">Contraseña</label>
            <input class="input-form" type="password" name="check-password" id="check-password">
            <button class="send" type="submit">Enviar</button>
            <button class="send" type="reset">Borrar</button>
        </form>
    </section>
    <footer>
        <section>
            <div><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>